/* Body and background */
body {
    /* background-image: url("../images/Dogs_Park.jpg"); */
    font-family: Helvetica, sans-serif;
}

#dog-park {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

header {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.characterWrapper {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
#gameMessage {
    text-align: center;
    font-size: 10px;
    padding: 2vw;
    color: black;
}
#choose-enemy-button {
    visibility: hidden;
}
#restart-button {
    visibility: hidden;
}
#turn-counter {
    font-size: 150%;
}

/* Character rendering */

.character {
    width: 153px;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
    display: inline-block;
}
.character img {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
.character-name {
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.425);
    border-radius: 40%;
    margin: auto;
    width: 120px;
}
.character-health {
    text-align: center;
    color: white;
}

#selected-character-section {
    color: white;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

/*      Fighting       */
#fight-section-title {
    color: white;
}

.attack {
    text-align: center;
}
.action {
    margin: 15px 0px;
}
#attack-button{
    visibility: hidden;
}
.btn {
    background: #000;
    color: white;	
}
.enemy {
    width: 153px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    background-color: darkred;
    float: left;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
#attacker {
    padding: 5px;
}
.target-enemy {
    background-color: black;
    color: white;
}

/*  Available Oponents  */
#available-to-attack-section {
    float: right;
    color: white;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
#available-to-attack-section img {
    height: 100px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

/*      Defender       */  
#defender {
    color: white;
}
#defender-name {
    text-align: center;
}
#defender-image {
    padding: 0px 16px;
    margin: 3px 0px;
}
#defender-health {
    text-align: center;
}

/*   Media Queries     */
@media only screen and (max-device-width: 768px) {
    .character {
        display: block;
        height: 150px;    
    }
    #gameMessage {
        font-size: 12px;
    }
}
